{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Archivo académico{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">

    {% block extra_style %}{% endblock %}
</head>

<body>

    <header class="top">
        <h1>{% block heading %}Archivo académico{% endblock %}</h1>
        <p class="subtitle">{% block subtitle %}{% endblock %}</p>
        <nav class="tabs">
            <a href="{% url 'index' %}" {% if active_tab == 'index' %}class="active" {% endif %}>Portada</a>
            <a href="{% url 'candidatos' %}" {% if active_tab == 'candidatos' %}class="active" {% endif %}>Candidatos</a>
            <a href="{% url 'nuevo_candidato' %}" {% if active_tab == 'candidatos' %}class="active" {% endif %}>Candidato nuevo</a>
            <a href="{% url 'comite' %}" {% if active_tab == 'comite' %}class="active" {% endif %}>Comités</a>
            <a href="{% url 'alumnos' %}" {% if active_tab == 'alumnos' %}class="active" {% endif %}>Alumnos</a>
            <a href="{% url 'nuevo_alumno' %}" {% if active_tab == 'nuevo_alumno' %}class="active" {% endif %}>Alumno nuevo</a>
            <a href="{% url 'modificar_alumno' %}" {% if active_tab == 'modificar_alumno' %}class="active" {% endif %}>Modificar Alumno</a>
            <a href="{% url 'eliminar_alumno' %}"  {% if active_tab == 'eliminar_alumno' %}class="active" {% endif %}>Eliminar Alumno</a>
            <a href="{% url 'profesores' %}" {% if active_tab == 'profesores' %}class="active" {% endif %}>Profesores</a>
            <a href="{% url 'nuevo_profesor' %}" {% if active_tab == 'nuevo_profesor' %}class="active" {% endif %}>Profesor nuevo</a>
            <a href="{% url 'modificar_profesor' %}" {% if active_tab == 'modificar_profesor' %}class="active" {% endif %}>Modificar Profesor</a>
            <a href="{% url 'eliminar_profesor' %}" {% if active_tab == 'eliminar_profesor' %}class="active" {% endif %}>Eliminar Profesor</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="site">
        {% block footer %}
            Datos ficticios generados para prototipar la interfaz.
        {% endblock %}
    </footer>

</body>

</html>